<config>
    <database name="control">
        <server>localhost</server>
        <name>control</name> <!-- Tên database -->
        <username>root</username> <!-- Tên đăng nhập MySQL -->
        <password></password> <!-- Mật khẩu MySQL -->
        <source>config_source</source> <!-- Bảng cấu hình nguồn -->
        <file>file_log</file> <!-- Bảng log file -->
    </database>
</config>
